<!DOCTYPE HTML>
<%- include('../_includes/topo'); %>	

	<div class="container">	
	    <div class="row">
			<h2>Cadastro de produto</h2>
		</div>

		<% if(validacao.length > 0){ %>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger">
						<strong>Atenção!</strong>
						<ul>
							<% for(var i = 0; i < validacao.length; i++){ %>
							<li><%= validacao[i].msg %></li>
							<% }%>
						</ul>
					</div>
				</div>
			</div>
		<% }%>

		<div class="row">
			<div class="col col-md-8">
				<form action="/produto/salvar" method="post">
				<div class="form-group">
					<label>Produto</label>
					<input type="text" name="nome_produto" class="form-control" required><br>

					<label>Descricao</label>
					<textarea name="descricao" class="form-control" rows="2"></textarea><br>

					<label>Categoria</label>
					<select placeholder="Selecione a categoria..." name="categoria" class="form-control">
				      <option value="">---Selecione---</option>
				      <option value="Fixo">Fixo</option>
				      <option value="Promocional">Promocional</option>
				      <option value="Limitado">Limitado</option>
	   			      <option value="Outros">Outros</option>
				    </select>	

					<br>

					<label>Valor</label>
					<input type="number" step="0.05" name="valor" class="form-control"><br>

					<label>Data da primeira compra</label>
					<input type="date" name="inicio_venda" id="inicio_venda" class="form-control" required><br>

				</div>				
					<a href="/produtos" class="btn btn-danger">Voltar</a>
					<input type="submit" value="Salvar" class="btn btn-primary">
				</form>   
			</div>
		</div>   
	</div>
</div>   

		<script type="text/javascript">
				$(document).ready(function(){
				var today = new Date();
				var dy = today.getDate().toString().padStart(2, '0');
				var mt = (today.getMonth()+1).toString().padStart(2, '0');
				var yr = today.getFullYear();
				
			  document.getElementById('inicio_venda').value = yr+"-"+mt+"-"+dy;
			});
		</script>		
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>